body {
    font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    color: #00ff00;
    background-color: #000;
}

.body {
    max-width: 800px;
    margin: auto;
    padding: 10px;

}

a,
a:visited {
    color: #00aaff !important;
    text-shadow: 0px 0px 1px #00aaff !important;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1rem;
}

.right {
    text-align: right;
}

/* Hide right section on screens 400px and below */
@media (max-width: 400px) {
    .width-check {
        display: none;
    }
}

h1 {
    margin-bottom: 2rem;
}

.container-content {
    margin-top: 2rem;
}

* {
    text-shadow: 0px 0px 1px #00ff00;
}

.barcode {
    -webkit-filter: drop-shadow(0 0 1px #00ff00);
    filter: drop-shadow(0 0 1px #00ff00);
}

/* * {
    outline: 1px solid red;
} */